body {
    font-family: 'PT Sans', sans-serif;
}
.container-fluid {
    margin: 0!important;
}
header.nav {
    align-items: center;
    justify-content: space-between;
}
.nav ul {
    display: flex;
    flex-direction: initial;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: column;
    width: 30%;
}
#col-4 ul {
    margin: 20px;
}
ul#produit, ul#recap {
    margin: 10% auto;
    width: 50%;
}
ul#produit {
    flex-direction: column-reverse;
}
ul#idOrd {
    width: auto;
}
li{
    list-style: none;
}
.iconePanier {
    width: 60px;
    height: 90%;
}
.imgBanniere {
    background-image: url(./../assets/mother-and-child-5368416_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
}
.imgBanniere h1 {
    color: white;
    margin: 9%;
}
a {
    color: black!important;
    margin: 10px 30px;
}
h1 {
    text-align: center;
    font-size: 30px!important;
}
/** produits **/
#img {
    display: flex;
    position: relative;
    order: 1;
    align-items: center;
}
#img h1 {
    position: absolute;
    order: 2;
    left: 25%;
    color: #8ff;
    top: 72%;
}
.logo {
    width: 20%;
}
.logo img {
    width: 100%;
}

li img {
    width: 100%;
}
#col-4 {
    display: flex;
    flex-wrap: wrap;
}
.col-8 {
    margin: auto;
}
.col-10 {
    margin: auto;
}
.col-12 {
    background-color: #f9f0d5;
}
#prixtotal {
    text-align: center;
}
#formulaire {
    text-align: center;
}
#inscription {
    width: 70%;
    margin: auto;
}
.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
.formPlacement {
    display: flex;
    flex-direction: column;
}
.formPlacement label {
    text-align: start;
}

input#inscription, button#addTo {
    width: 120px;
    margin: 20px auto;
    border-radius: 120px;
    padding: 5px 10px;
    border: none;
}
button#addTo, .button, li a{
    width: 170px;
    background-color: #eab26f;
    border: 1.5px solid white;
}
li a {
    border-radius: 10px;
    padding: 10px 20px;
    color: white!important;
    text-transform: uppercase;
    font-weight: 600;
}
.button:hover {
    background-color: #efc492;
    color: #c57b1f!important;
}
button#addTo:hover {
    background-color: #efc492;
    color: #c57b1f!important;
    font-weight: 600;
}
li a:hover {
    text-decoration: unset;
    background-color: #efc492;
    color: #c57b1f!important;
}
.button {
    border-radius: 10%;
    padding: 2% 3%;
    margin: 10px 0;
    width: 150px;
    font-weight: 600;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.row {
    flex-direction: column;
}
input:focus:required:invalid, input[pattern]:focus:invalid{
    background-color: rgb(230, 76, 76);
}
footer {
    text-align: center;
    padding: 20px;
}
/*@media (min-width:768px) and (max-width:1200px) {
    ul {
        margin: 70px auto;
    }
}*/
@media (max-width:768) {
    .row {
        margin: 0;
    }
    ul{
        display: block;
        width: auto;
    }
}